@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your company profile.</p>

<p>Hello! My name is Basharat Hussain (Instructor).</p>

<p>Students are instructed to add their SAPID and Name in here.</p>
